/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 6, 2014 */
@font-face {
  font-family: 'museo300';
  src: url("../fonts/exljbris_-_museo-300-webfont.eot");
  src: url("../fonts/exljbris_-_museo-300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museo-300-webfont.woff") format("woff"), url("../fonts/exljbris_-_museo-300-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museo-300-webfont.svg#museo300") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'museo500';
  src: url("../fonts/exljbris_-_museo-500-webfont.eot");
  src: url("../fonts/exljbris_-_museo-500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museo-500-webfont.woff") format("woff"), url("../fonts/exljbris_-_museo-500-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museo-500-webfont.svg#museo500") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'museo700';
  src: url("../fonts/exljbris_-_museo-700-webfont.eot");
  src: url("../fonts/exljbris_-_museo-700-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museo-700-webfont.woff") format("woff"), url("../fonts/exljbris_-_museo-700-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museo-700-webfont.svg#museo700") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'calibriregular';
  src: url("../fonts/calibri-webfont.eot");
  src: url("../fonts/calibri-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri-webfont.woff") format("woff"), url("../fonts/calibri-webfont.ttf") format("truetype"), url("../fonts/calibri-webfont.svg#calibriregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'calibribold';
  src: url("../fonts/calibrib-webfont.eot");
  src: url("../fonts/calibrib-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/calibrib-webfont.woff") format("woff"), url("../fonts/calibrib-webfont.ttf") format("truetype"), url("../fonts/calibrib-webfont.svg#calibribold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'calibriitalic';
  src: url("../fonts/calibrii-webfont.eot");
  src: url("../fonts/calibrii-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/calibrii-webfont.woff") format("woff"), url("../fonts/calibrii-webfont.ttf") format("truetype"), url("../fonts/calibrii-webfont.svg#calibriitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
.kipow {
  color: #58978b; }

.macche {
  color: #db8a19; }

.teen-life {
  color: #f3b735; }

.ped-oral {
  color: #89bf55; }

.student {
  color: #915eb1; }

.nurses {
  color: #003fa1; }

body {
  background: url(../images/bg-gradient.png) repeat-x left top;
  font-family: 'calibriregular', helvetica, arial, sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1 {
  font: 2.75em/1.5em 'museo700', Cambria, Georgia, Times, "Times New Roman", serif; }

h2 {
  font: 1.25em/1.5em 'calibribold', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }

p {
  font-size: 1.1em; }

a {
  text-decoration: none;
  color: inherit; }

header {
  height: 480px; }

nav {
  font: 0.85em "museo300", Cambria, Georgia, Times, "Times New Roman", serif;
  color: #fff; }

.top-nav {
  font: 0.75em "calibriregular", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background: url(../images/top-nav-bg-grey.png) no-repeat right top;
  float: right;
  width: 100%; }
  .top-nav ul {
    float: right; }

.top-nav li {
  float: left;
  padding: 6px 6px 6px 15px; }

.top-nav-home {
  background: url(../images/hdr-icon-sprite.png) no-repeat 0px 8px; }

.top-nav-home:hover {
  background: url(../images/hdr-icon-sprite.png) no-repeat 0px -84px; }

.top-nav-collab {
  background: url(../images/hdr-icon-sprite.png) no-repeat 0px -16px; }

.top-nav-collab:hover {
  background: url(../images/hdr-icon-sprite.png) no-repeat 0px -107px; }

.top-nav-matters {
  background: url(../images/hdr-icon-sprite.png) no-repeat -2px -39px; }

.top-nav-matters:hover {
  background: url(../images/hdr-icon-sprite.png) no-repeat -2px -131px; }

.top-nav-needs {
  background: url(../images/hdr-icon-sprite.png) no-repeat 1px -61px; }

.top-nav-needs:hover {
  background: url(../images/hdr-icon-sprite.png) no-repeat 1px -153px; }

.top-nav-home:hover, .top-nav-collab:hover, .top-nav-matters:hover, .top-nav-needs:hover, .social {
  color: #98b7e8; }

.social {
  margin-right: 8px; }

.social li {
  padding: 6px 7px; }

.fb {
  background: url(../images/hdr-icon-sprite.png) no-repeat 0px -174px; }

.fb:hover {
  background: url(../images/hdr-icon-sprite.png) no-repeat 0px -239px; }

.twitter {
  background: url(../images/hdr-icon-sprite.png) no-repeat -1px -194px; }

.twitter:hover {
  background: url(../images/hdr-icon-sprite.png) no-repeat -1px -261px; }

.youtube {
  background: url(../images/hdr-icon-sprite.png) no-repeat 1px -214px; }

.youtube:hover {
  background: url(../images/hdr-icon-sprite.png) no-repeat 1px -283px; }

.secondary {
  background: url(../images/top-nav-bg-blue.png) no-repeat right top;
  float: right;
  width: 100%; }
  .secondary ul {
    float: right; }
  .secondary li {
    float: left;
    padding: 6px 15px 6px 6px; }
  .secondary li:last-child {
    padding-right: 8px; }

.title {
  width: 100%;
  float: right;
  font: 2em 'museo700', Cambria, Georgia, Times, "Times New Roman", serif;
  color: #fff;
  margin-top: 23px; }
  .title img {
    float: right;
    margin-right: 10px; }
  .title span {
    float: right;
    margin-top: 8px; }

.primary {
  float: left;
  width: 100%;
  margin-top: 14px; }
  .primary ul {
    float: left; }
  .primary li {
    float: left;
    padding: 17px 14px; }

li.nav-kipow {
  background-color: #58978b; }

li.nav-macche {
  background-color: #db8a19; }

li.nav-teen-life {
  background-color: #f3b735; }

li.nav-ped-oral {
  background-color: #89bf55; }

li.nav-student {
  background-color: #915eb1; }

li.nav-nurses {
  background-color: #003fa1;
  line-height: .85em;
  padding: 8px 15px 7px 15px; }
  li.nav-nurses span {
    font-size: .5em; }

.container {
  background: url(../images/hdr-logo.png) no-repeat -128px top;
  margin: 0 auto;
  width: 950px; }

.main-content {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  color: #807770;
  padding-bottom: 3em;
  margin-bottom: 2.75em;
  box-shadow: 0 4px 6px #ccc;
  overflow: auto; }

.main-content-container {
  margin: 0 auto;
  width: 950px; }
  .main-content-container h1 {
    margin-bottom: .35em;
    padding-top: .5em; }
  .main-content-container h2 {
    margin-bottom: .25em; }
  .main-content-container p {
    margin-bottom: 1.25em; }

.column {
  float: left;
  width: 48%;
  margin-right: 4%; }
  .column:last-child {
    margin-right: 0; }

.ftr-container {
  background: url(../images/ftr-logo.jpg) no-repeat top left;
  margin: 0 auto;
  width: 950px;
  height: 115px; }

footer p {
  float: right;
  font-size: .75em;
  color: #807770; }
