body {
	background: url(../images/bg-gradient.png) repeat-x left top;
	font-family: 'calibriregular', helvetica, arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
}
h1 {
	font: 2.75em/1.25em 'museo700', Cambria, Georgia, Times, "Times New Roman", serif;
	display: inline-block;
}
h2 {
	font: 1.25em/1.25em 'calibribold', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
h2 em {
	font-style: italic;
}
p {
	font-size: 1.1em;
}
p.legal {
	font-size: .75em;
	line-height: 1.25em;
}
a {
	text-decoration: none;
	color: inherit;
}
small {
	font-size: .75em;
}