$kipow: #58978b;
$macche: #db8a19;
$teen-life: #f3b735;
$ped-oral: #89bf55;
$student: #915eb1;
$nurses: #003fa1;
$grey: #807770;

$nav-font: .85em 'museo300', Cambria, Georgia, Times, "Times New Roman", serif;
$top-nav-font: .75em 'calibriregular', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;